@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
  margin: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./w.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.title {
  font-size: 6vw;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: "Inconsolata", monospace;
}

.box {
  color: white;
  padding: 20px 40px;
  text-align: center;
  font-family: "Inconsolata", monospace;
}

.box a {
  color: aqua;
  text-decoration: none;
}

.box a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .title {
    font-size: 32px;
  }

  .box {
    font-size: 18px;
  }
}
